Button,
TextButton {
    padding: 4px;
    margin: 4px;
    border-radius: 6px;

    &:hover {
        background-color: #555;
    }
    & Label {
        text-align: center;
        horizontal-align: center;
    }

    & Image {
        width: 100%;
        height: 100%;
    }
}
