@use 'sass:color';
@use 'sass:map';

$black: #000000 !default;
$white: #ffffff !default;


$light-100: rgba(255, 255, 255, 0.05) !default;
$light-200: rgba(255, 255, 255, 0.075) !default;
$light-300: rgba(255, 255, 255, 0.1) !default;
$light-400: rgba(255, 255, 255, 0.125) !default;
$light-500: rgba(255, 255, 255, 0.15) !default;
$light-600: rgba(255, 255, 255, 0.2) !default;
$light-700: rgba(255, 255, 255, 0.25) !default;
$light-800: rgba(255, 255, 255, 0.3) !default;
$light-900: rgba(255, 255, 255, 0.4) !default;


// ================
// FONTS
// ================


$font-default-size: 18px !default;
$font-default-color: $white !default;
$font-disabled-color: color.scale($font-default-color, $lightness: -20%) !default;

$font-monospace: 'Courier New';

// ================
// SCROLLBAR
// ================

$scrollbar-width: 6px !default;
$scrollbar-radius: 0px !default;
$scrollbar-color: $white !default;
$scrollbar-opacity: 0.6 !default;
$scrollbar-hover-opacity: 0.8 !default;

// ================
// TEXTENTRY
// ================

$textentry-background: $light-200 !default;
$textentry-background-hover: color.scale($textentry-background, $alpha: 10%) !default;
$textentry-background-focus: color.scale($textentry-background, $alpha: 8%) !default;

$textentry-height: 32px !default;
$textentry-width: 256px !default;
$textentry-padding: 6px 16px 6px 8px !default;
$textentry-border: 0 solid none !default;
$textentry-radius: 4px !default;
$textentry-shadow: fill rgba(0, 0, 0, 0.3) 0px 0px 3px 0px !default;
$textentry-shadow-hover: fill rgba(0, 0, 0, 0.5) 0px 0px 3px 0px !default;

$textentry-font-size: 18px !default;
$textentry-placeholder-font-size: 18px !default;
$textentry-text-color: $font-default-color !default;
$textentry-text-disabled: $font-disabled-color !default;
$textentry-placeholder-color: color.scale($textentry-text-color, $alpha: -40%) !default;
$textentry-placeholder-hover-color: color.scale($textentry-text-color, $alpha: 30%) !default;

